In [1]:
class student:
    name="sumit"
f1=student()
print(f1.name)

sumit

In [2]:
class student:
    name=["sumit","aman"]
f1=student()
print(f1.name)

['sumit', 'aman']

In [3]:
class student:
    name=["sumit","aman"]
    roll=[1,2]
f1=student()
print(f1.name)
print(f1.roll)

['sumit', 'aman']
[1, 2]

In [4]:
class cars:
    object=["toyota","Hundai","Mercedes","bmw","audi","lamborgirni"]
f2=cars()
print(f2.object)

['toyota', 'Hundai', 'Mercedes', 'bmw', 'audi', 'lamborgirni']

In [5]:
class makeup:
    object=["kay_beauty","rare_beauty","kyle_cosmetic"]
a1=makeup()
print(a1.object)

['kay_beauty', 'rare_beauty', 'kyle_cosmetic']

In [6]:
class Student():
    def __init__(self,name,age):
        self.name=name
        self.age=age

s1=Student("Sumit",18)
print(s1.name,s1.age)
s2=Student("Gaurav",17)
print(s2.name,s2.age)

Sumit 18
Gaurav 17

In [7]:
class College:
    College="IITM"
    def __init__(self,batch,year):
        self.batch=batch
        self.year=year
s1=College("Data Science",2024)
print(s1.batch,s1.year)
print(s1.College)

Data Science 2024
IITM

In [8]:
class Armwrestle:
        def __init__(self,name,weight,category):
            self.name=name
            self.weight=weight
            self.category=category
s1=Armwrestle("Sahil",52,"Under 55\n")
print(s1.name,s1.weight,s1.category)
s2=Armwrestle("Anurag",60,"under 70\n")
print(s2.name,s2.weight,s2.category)
s3=Armwrestle("Sohaib",75,"under 80\n")
print(s3.name,s3.weight,s3.category)
s4=Armwrestle("Shivam",57,"under 60")
print(s4.name,s4.weight,s4.category)
class College:
        def __init__(self,batch,year):
            self.batch=batch
            self.year=year
a1=College("\nData Science",2024)
print(a1.batch,a1.year)

Sahil 52 Under 55

Anurag 60 under 70

Sohaib 75 under 80

Shivam 57 under 60

Data Science 2024

In [9]:
class College:
    college_name="AAFT"
    def __init__(self,name,weight,category):
        self.name=name
        self.weight=weight
        self.category=category
s1=College("Sahil",52,"Under 55\n")
print(s1.name,s1.weight,s1.category)
s2=College("Anurag",60,"under 70\n")
print(s2.name,s2.weight,s2.category)
s3=College("Sohaib",75,"under 80\n")
print(s3.name,s3.weight,s3.category)
s4=College("Shivam",57,"under 60")
print(s4.name,s4.weight,s4.category)
print(s1.college_name)

Sahil 52 Under 55

Anurag 60 under 70

Sohaib 75 under 80

Shivam 57 under 60
AAFT

In [10]:
class Armwrestle:
    def __init__(self,name,weight,category):
        self.name=name
        self.weight=weight
        self.category=category
s1=Armwrestle("Sahil",52,"Under 55")
print(s1.name,s1.weight,s1.category)
s2=Armwrestle("Anurag",60,"under 70")
print(s2.name,s2.weight,s2.category)
s3=Armwrestle("Sohaib",75,"under 80")
print(s3.name,s3.weight,s3.category)
s4=Armwrestle("Shivam",57,"under 60")
print(s4.name,s4.weight,s4.category)

Sahil 52 Under 55
Anurag 60 under 70
Sohaib 75 under 80
Shivam 57 under 60

In [11]:
class Student():
    def __init__(self,name,age):
        self.name=name
        self.age=age

s1=Student("Sumit",18)
print(s1.name,s1.age)
s2=Student("Gaurav",17)
print(s2.name,s2.age)

Sumit 18
Gaurav 17

In [12]:
for i in range(6):
    print("*"*i)

*
**
***
****
*****

In [13]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [14]:
x=1
while x<6:
    print("*"*x)
    x+=1

*
**
***
****
*****

In [15]:
class Student():
    def __init__(self,name,age):
        self.name=name
        self.age=age

s1=Student("Sumit",18)
print(s1.name,s1.age)
s2=Student("Gaurav",17)
print(s2.name,s2.age)

Sumit 18
Gaurav 17